body { background-image:url('background.png'); font: 13px/175% 'Asap', sans-serif; text-align:justify; background-color: #4a525a; }
h1 { color: #999999; font: 39px 'Asap', sans-serif; font-weight: 700; }
h2 { color: #999999; font: 19px 'Asap', sans-serif; font-weight: 700; } 
